
<!-- <div class="welcome" fxLayout="column" fxLayout.gt-md="row" 
       fxLayoutGap.gt-md="20px"  fxLayoutAlign="center center">
   <section>
     <h1>ACTIVITY</h1>
     <p>Stay active and enjoy better health and more fun!</p>
   </section>
   <section>
      <h1>COMMUNITY</h1>
      <p>Get to know other people who share your passion!</p>
    </section>
    <section>
      <h1>CHALLENGE</h1>
      <p>Never stop! Dive into new challenges every day</p>
    </section>
</div>
 -->
 <div class="grid_span">
 <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile colspan="4" rowspan="1" >
        <div class="div_1"></div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <div class="div_2">
          <div class="">
              <h1>How Does Fitness Tracker Help Me?</h1>
          </div>
          <div>
            <p>Make your self own's personal trainer that 
              provides everything you need to get in the
              best shape of your life.</p>
          </div>
            
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <div class="div_3"></div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <div class="div_4"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>